.nav {
    background-color: #282828;
    padding: 10px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282828;
    padding: 10px;
}

.nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

#home {
    width: 20px;
    height: 20px;
}