body {
    background-color: #e8e8ea;
    color: #282828;
    font-family: 'Arial', sans-serif;
    margin: 0 0 20em 0;
}

h1 {
    text-align: center;
}

h1 strong {
    color: #1DB954;
}

.warning-message {
    background-color: #ffe4e1;
    border: 2px solid #ff0000;
    border-radius: 5px;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    text-align: center;
}

.warning-message p {
    margin-bottom: 20px;
}

.warning-message form {
    margin-top: 10px;
}

.warning-message button {
    margin-top: 10px;
}

.warning-message button a {
    color: #ff0000;
    text-decoration: none;
    font-weight: bold;
}

.custom-delete-submit-button {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: medium;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.custom-delete-submit-button:hover {
    background-color: #cc0000;
}

.warning-message button {
    background-color: #ffffff;
    color: #ff0000;
    border: 2px solid #ff0000;
    border-radius: 5px; 
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.erreur-suppression-playlist {
    color: darkred;
    font-style: italic;
}

