body {
    background-color: #e8e8ea;
    color: #282828;
    font-family: 'Arial', sans-serif;
    margin: 0 0 20em 0;
    padding: 0;
}

.artiste-details h2 strong {
    font-size: 24px;
    color: #1DB954;
    margin-bottom: 20px;
}

body > h2 {
    margin-left: 10%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282828;
    padding: 10px;
}

.artiste-details {
    text-align: center;
    margin-top: 20px;
}

.nombre-like, .text-transition {
    background-color: #f7f7f7;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.text-transition p {
    font-size: 16px;
    line-height: 1.6;
    color: #282828;
}

.text-transition strong {
    font-weight: bold;
    color: #1DB954;
}

.text-transition #genre {
    color: #1DB954;
    margin-right: 5px;
}

.nombre-like p {
    font-size: 16px;
    line-height: 1.6;
    color: #282828;
}

.nombre-like strong {
    font-weight: bold;
    color: #1DB954;
}

#genre {
    font-style: italic;
}

.albums {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.album {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 10px;
    width: 200px;
    transition: background-color 0.3s ease;
}

.album:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.album img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.album h3 {
    color: #1DB954;
    margin-top: 0;
}

.album p {
    color: #282828;
    margin-top: 5px;
}

button {
    background-color: #1DB954;
    color: #fff;
    border: none;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #16843a;
}
