body {
    background-color: #121212;
    color: #fff;
    font-family: 'Arial', sans-serif;
    display: flex;
    height: 100vh;
    margin: 0;
}

.navigation-gauche {
    width: 300px;
    background-color: #333;
    padding: 20px;
}

body > h1 {
    margin: 6vh auto 6vh auto;
    color: #fff;
}

nav a {
    display: block;
    margin: 10px 0;
    padding: 15px;
    background-color: #1DB954;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #16843a;
}

#panel-admin-link {
    background-color: #1DB954;
    color: #fff;
}

#panel-admin-link:hover {
    background-color: #16843a;
}

#logo {
    display: block;
    margin: auto;
}
