body {
    background-color: #e8e8ea;
    color: #282828;
    font-family: 'Arial', sans-serif;
    margin: 0 0 20em 0;
}

.container {
    background-color: #f9f9f9;
    padding: 20px;
    margin-top: 1em;
    margin-left: 33%;
    margin-right: 33%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

h1 strong {
    color: #1DB954;
}

.styled-form {
    margin: 20px auto;
    text-align: center;
}

.styled-form label {
    display: block;
    margin-bottom: 5px;
}

label {
    font-weight: bold;
}

.custom-submit-button {
    margin-top: 5em;
    display: block;
    margin: 3em auto 0 auto;
    padding: 8px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    color: white;
    font-weight: bold;
    background-color: #1DB954;
}


.styled-form input[type="text"],
.styled-form input[type="file"] {
    display: block;
    margin: 10px auto;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #1DB954;
    font-size: 16px;
    color: #282828;
    background-color: #fff;
    transition: border-color 0.3s ease;
}

.styled-form input[type="text"]:focus,
.styled-form input[type="file"]:focus {
    outline: none;
    border-color: #16843a;
}

.styled-form input[type="submit"]:hover,
.styled-form input[type="file"]:hover {
    cursor: pointer;
}

.image-preview {
    margin: 10px auto;
}

.image-preview img {
    width: 200px;
    height: auto;
}

.custom-file-upload label {
    display: inline-block;
    padding: 8px 12px;
    background-color: #1DB954;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-file-upload label:hover {
    background-color: #16843a;
}

.erreur-creation-playlist {
    color: darkred;
    font-style: italic;
}

.button-cancel {
    display: inline-block;
    padding: 8px 12px;
    background-color: #1DB954;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.button-cancel:hover {
    background-color: #16843a;
}

.button-cancel a {
    text-decoration: none;
    color: #fff;
}

.cancel-button-container {
    text-align: center;
}
